<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost/estherms?serverTimezone=UTC</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">root</property>
        <property name="connection.pool_size">3</property>
        <property name="hibernate.hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <property name="show_sql">false</property>
        <property name="format_sql">true</property>
        <property name="hbm2ddl.auto">update</property>

        <mapping resource="socioEstandar.hbm.xml"/>
        <mapping class="ProjectCode.modelo.B1_SocioEstandar"/>

        <mapping resource="socioFederado.hbm.xml"/>
        <mapping class="ProjectCode.modelo.B2_SocioFederado"/>

        <mapping resource="socioInfantil.hbm.xml"/>
        <mapping class="ProjectCode.modelo.B3_SocioInfantil"/>
    </session-factory>
</hibernate-configuration>
